In [4]:
a = [1,2,3,4,5]
for item in a:
    print(item)

1
2
3
4
5

In [8]:
b = "kemal"
for item in b:
    print(item)

k
e
m
a
l

In [16]:
l = [['a','b'], ['c', 'd']]
for a,b, in l:
    print(a)
    print(b)

a
b
c
d

In [20]:
dic = {"nama" : "kemal", 'age' : 31, "address" : "bandung"} #dict
for res in dic.values():
    print(res)

kemal
31
bandung

In [22]:
for res in dic.keys():
    print(res)

nama
age
address

In [24]:
for res in dic.items():
    print(res)

('nama', 'kemal')
('age', 31)
('address', 'bandung')

In [44]:
for k,v in dic.items():
    print(f'key nya "{k}", value nya "{v}"')

key nya "nama", value nya "kemal"
key nya "age", value nya "31"
key nya "address", value nya "bandung"

In [66]:
print('enumerate() and zip() '*50)

enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip() enumerate() and zip()

In [52]:
a = "kemal aditya"
for i, item in enumerate(a):
    print(f'itemnya = {item}, indexnya = {i}')

itemnya = k, indexnya = 0
itemnya = e, indexnya = 1
itemnya = m, indexnya = 2
itemnya = a, indexnya = 3
itemnya = l, indexnya = 4
itemnya =  , indexnya = 5
itemnya = a, indexnya = 6
itemnya = d, indexnya = 7
itemnya = i, indexnya = 8
itemnya = t, indexnya = 9
itemnya = y, indexnya = 10
itemnya = a, indexnya = 11

In [64]:
var1 = [1,2,3]
var2 = [400,500,600]
for i,(v1,v2) in enumerate(zip(var1, var2)):
    print(f'ini v1 = {v2}, ini v2 = {v2} , === index {i}')

ini v1 = 400, ini v2 = 400 , === index 0
ini v1 = 500, ini v2 = 500 , === index 1
ini v1 = 600, ini v2 = 600 , === index 2

In [68]:
print('range() '*50)

range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range() range()

In [88]:
# range(start, end , step)
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [80]:
for i in range(0, 10,2):
    print(i)

0
2
4
6
8

In [86]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [98]:
x = []
for i in range(10):
    x.append(i)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
print('WHILE LOOP '*50)

WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP WHILE LOOP

In [106]:
a = 5 
while a>0:
    a -= 1
    print(a)

4
3
2
1
0

In [108]:
a = 5 
while a>0:
    a -= 1
    print(a)
else:
    print('selesai')

4
3
2
1
0
selesai

In [166]:
a = 5 
while a>0:
    a -= 1
    print(a)
    if a == 2: break; #di break di angka 2

4
3
2

In [110]:
print('CONTINUE, PASS, BREAK '*50)

CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK CONTINUE, PASS, BREAK

In [150]:
for i in range(5):  ##perbedaan pass dan continue adalah kalo pass bakal kosong ketika menemukan 2 maka harus di tambah else
    if i == 2:
        pass
        # kosong

In [136]:
for i in range(5):  ##perbedaan pass dan continue adalah kalo pass bakal kosong ketika menemukan 2 maka harus di tambah else
    if i == 2:
        pass
    else:
        print(i)

0
1
3
4

In [156]:
for i in range(5):  ##perbedaan pass dan continue adalah kalo pass bakal kosong ketika menemukan 2 maka harus di tambah else
    if i == 2:
        continue;
    print(i)

0
1
3
4

In [158]:
for i in range(5):  #break
    if i == 3:
        break;
    print(i)

0
1
2